In [1]:
import pandas as pd

df = pd.read_csv("./data/train.csv").set_index("PassengerId")

df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
from sklearn.model_selection import train_test_split

X = df.loc[:,df.columns != "Survived"]
y = df["Survived"]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [3]:
# https://autokeras.com/tutorial/structured_data_classification/
import autokeras as ak

# Initialize the structured data classifier.
clf = ak.StructuredDataClassifier(
    overwrite=True, # When building of model fails, 
                     # set to False and then back to True
    max_trials=5) # It tries 5 different models.

# Feed the structured data classifier with training data.
clf.fit(x_train,
        y_train,
        # Split the training data and use the last 15% as validation data.
        validation_split=0.15,
        epochs=50)

# returns scalar test loss (if the model has a single output and no metrics)
# or list of scalars (if the model has multiple outputs and/or metrics)
print(clf.evaluate(x_test, y_test))

Trial 5 Complete [00h 00m 04s]
val_accuracy: 0.8888888955116272

Best val_accuracy So Far: 0.9027777910232544
Total elapsed time: 00h 00m 20s
INFO:tensorflow:Oracle triggered exit
Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 0.6593 - accuracy: 0.7111
Epoch 2/50
23/23 [==============================] - 0s 3ms/step - loss: 0.3971 - accuracy: 0.8265
Epoch 3/50
23/23 [==============================] - 0s 3ms/step - loss: 0.3419 - accuracy: 0.8376
Epoch 4/50
23/23 [==============================] - 0s 3ms/step - loss: 0.2843 - accuracy: 0.8808
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 0.2536 - accuracy: 0.8961
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 0.2307 - accuracy: 0.9109
Epoch 7/50
23/23 [==============================] - 0s 3ms/step - loss: 0.2104 - accuracy: 0.9278
Epoch 8/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1927 - accuracy: 0.9345
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1752 - accuracy: 0.9361
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1579 - accuracy: 0.9490
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1408 - accuracy: 0.9538
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1233 - accuracy: 0.9695
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1088 - accuracy: 0.9715
Epoch 14/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0981 - accuracy: 0.9718
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1117 - accuracy: 0.9631
Epoch 16/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1733 - accuracy: 0.9381
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1611 - accuracy: 0.9391
Epoch 18/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1258 - accuracy: 0.9524
Epoch 19/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1712 - accuracy: 0.9318
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1715 - accuracy: 0.9411
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1793 - accuracy: 0.9232
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1792 - accuracy: 0.9267
Epoch 23/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1355 - accuracy: 0.9450
Epoch 24/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1578 - accuracy: 0.9313
Epoch 25/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1153 - accuracy: 0.9530
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0770 - accuracy: 0.9792
Epoch 27/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0652 - accuracy: 0.9836
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0495 - accuracy: 0.9916
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0449 - accuracy: 0.9934
Epoch 30/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0373 - accuracy: 0.9916
Epoch 31/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0335 - accuracy: 0.9919
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0280 - accuracy: 0.9900
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0272 - accuracy: 0.9962
Epoch 34/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0288 - accuracy: 0.9949
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0287 - accuracy: 0.9871
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0299 - accuracy: 0.9860
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0253 - accuracy: 0.9931
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 0.0366 - accuracy: 0.9837
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0365 - accuracy: 0.9899
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 0.1310 - accuracy: 0.9612
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2544 - accuracy: 0.9311
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2328 - accuracy: 0.9252
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0866 - accuracy: 0.9628
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0935 - accuracy: 0.9707
Epoch 45/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0905 - accuracy: 0.9766
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0606 - accuracy: 0.9841
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0772 - accuracy: 0.9709
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0624 - accuracy: 0.9734
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0349 - accuracy: 0.9934
Epoch 50/50
23/23 [==============================] - 0s 3ms/step - loss: 0.0249 - accuracy: 0.9968
INFO:tensorflow:Assets written to: ./structured_data_classifier/best_model/assets
WARNING:tensorflow:5 out of the last 5 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e4414c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:6 out of the last 6 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e44a670> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:7 out of the last 7 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e453280> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:8 out of the last 8 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e453160> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

6/6 [==============================] - 0s 1ms/step - loss: 1.4201 - accuracy: 0.6480
[1.4201401472091675, 0.6480447053909302]

In [4]:
model = clf.export_model()
model.summary()
# labels for the scalar outputs
print(model.metrics_names)

WARNING:tensorflow:9 out of the last 9 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a749633a0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:10 out of the last 10 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a74943af0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a7496b8b0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a7496ba60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a74943a60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a74963ee0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a74977670> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a749779d0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 10)]              0
_________________________________________________________________
multi_category_encoding (Mul (None, 10)                0
_________________________________________________________________
normalization (Normalization (None, 10)                21
_________________________________________________________________
dense (Dense)                (None, 512)               5632
_________________________________________________________________
batch_normalization (BatchNo (None, 512)               2048
_________________________________________________________________
re_lu (ReLU)                 (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
batch_normalization_1 (Batch (None, 512)               2048
_________________________________________________________________
re_lu_1 (ReLU)               (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 513
_________________________________________________________________
classification_head_1 (Activ (None, 1)                 0
=================================================================
Total params: 272,918
Trainable params: 270,849
Non-trainable params: 2,069
_________________________________________________________________
['loss', 'accuracy']

In [5]:
import numpy as np
print(model.evaluate(x_test.astype(np.unicode), y_test))

6/6 [==============================] - 0s 2ms/step - loss: 1.4201 - accuracy: 0.6480
[1.4201401472091675, 0.6480447053909302]

In [6]:
import tensorflow as tf

try:
    model.save("model_autokeras", save_format="tf")
except:
    model.save("model_autokeras.h5")

INFO:tensorflow:Assets written to: model_autokeras/assets

In [7]:
import json 

row = x_test.iloc[0]
json_row = row.to_json(orient="index")
json_row

'{"Pclass":3,"Name":"Moubarek, Master. Halim Gonios (\\"William George\\")","Sex":"male","Age":null,"SibSp":1,"Parch":1,"Ticket":"2661","Fare":15.2458,"Cabin":null,"Embarked":"C"}'

In [8]:
rows = x_test.iloc[0:5]
labels = y_test.iloc[0:5]
json_rows = rows.to_json(orient="records")
json_rows

'[{"Pclass":3,"Name":"Moubarek, Master. Halim Gonios (\\"William George\\")","Sex":"male","Age":null,"SibSp":1,"Parch":1,"Ticket":"2661","Fare":15.2458,"Cabin":null,"Embarked":"C"},{"Pclass":2,"Name":"Kvillner, Mr. Johan Henrik Johannesson","Sex":"male","Age":31.0,"SibSp":0,"Parch":0,"Ticket":"C.A. 18723","Fare":10.5,"Cabin":null,"Embarked":"S"},{"Pclass":3,"Name":"Alhomaki, Mr. Ilmari Rudolf","Sex":"male","Age":20.0,"SibSp":0,"Parch":0,"Ticket":"SOTON\\/O2 3101287","Fare":7.925,"Cabin":null,"Embarked":"S"},{"Pclass":2,"Name":"Harper, Miss. Annie Jessie \\"Nina\\"","Sex":"female","Age":6.0,"SibSp":0,"Parch":1,"Ticket":"248727","Fare":33.0,"Cabin":null,"Embarked":"S"},{"Pclass":3,"Name":"Nicola-Yarred, Miss. Jamila","Sex":"female","Age":14.0,"SibSp":1,"Parch":0,"Ticket":"2651","Fare":11.2417,"Cabin":null,"Embarked":"C"}]'

In [9]:
labels

PassengerId
710    1
440    0
841    0
721    1
40     1
Name: Survived, dtype: int64

In [10]:
record = pd.read_json(json_row, orient="index")
records = pd.read_json(json_rows)
record

                                                          0
Pclass                                                    3
Name      Moubarek, Master. Halim Gonios ("William George")
Sex                                                    male
Age                                                    None
SibSp                                                     1
Parch                                                     1
Ticket                                                 2661
Fare                                                15.2458
Cabin                                                  None
Embarked                                                  C

In [11]:
records

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
1,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
2,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
3,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0000,NaN,S
4,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C

In [12]:
rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 710 to 40
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    5 non-null      int64
 1   Name      5 non-null      object
 2   Sex       5 non-null      object
 3   Age       4 non-null      float64
 4   SibSp     5 non-null      int64
 5   Parch     5 non-null      int64
 6   Ticket    5 non-null      object
 7   Fare      5 non-null      float64
 8   Cabin     0 non-null      object
 9   Embarked  5 non-null      object
dtypes: float64(2), int64(3), object(5)
memory usage: 612.0+ bytes

In [13]:
x_test_unicode = x_test.astype(np.unicode)
x_test_unicode

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
710,3,"Moubarek, Master. Halim Gonios (""William George"")",male,nan,1,1,2661,15.2458,nan,C
440,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5,nan,S
841,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.925,nan,S
721,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0,nan,S
40,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,nan,C
...,...,...,...,...,...,...,...,...,...,...
434,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.125,nan,S
774,3,"Elias, Mr. Dibo",male,nan,0,0,2674,7.225,nan,C
26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,nan,S
85,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5,nan,S
11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7,G6,S

In [14]:
from tensorflow.keras.models import load_model

loaded_model = load_model("model_autokeras", 
                          custom_objects=ak.CUSTOM_OBJECTS)
print(loaded_model.evaluate(x_test_unicode, y_test))

WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e6571f0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e654430> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e65e040> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a70f03c10> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e64c8b0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a6e65e160> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a70f03a60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:11 out of the last 11 calls to <function recreate_function.<locals>.restored_function_body at 0x7f8a70f185e0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
6/6 [==============================] - 0s 1ms/step - loss: 1.4201 - accuracy: 0.6480
[1.4201401472091675, 0.6480447053909302]

In [15]:
predictions = loaded_model.predict(rows.astype(np.unicode))
print(predictions)
print(predictions.T[0])

[[0.0027537 ]
 [0.19685769]
 [0.64665985]
 [0.99973816]
 [0.6687872 ]]
[0.0027537  0.19685769 0.64665985 0.99973816 0.6687872 ]

In [16]:
labels

PassengerId
710    1
440    0
841    0
721    1
40     1
Name: Survived, dtype: int64

In [17]:
print(loaded_model.predict(rows.astype(np.unicode)))

[[0.0027537 ]
 [0.19685769]
 [0.64665985]
 [0.99973816]
 [0.6687872 ]]