In [1]:
import pandas as pd

df = pd.read_csv("./data/train.csv").set_index("PassengerId")

df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
X = df.loc[:,df.columns != "Survived"]
y = df["Survived"]

In [3]:
# basic usage of CatBoostClassifier
from catboost import CatBoostClassifier, Pool

train_data = Pool(data=[[1, 4, 5, 6],
                        [4, 5, 6, 7],
                        [30, 40, 50, 60]],
                  label=[1, 1, -1],
                  weight=[0.1, 0.2, 0.3])

model = CatBoostClassifier(iterations=10)

model.fit(train_data)
model.score(train_data)

Learning rate set to 0.058839
0:	learn: 0.6879920	total: 51.1ms	remaining: 460ms
1:	learn: 0.6815428	total: 51.6ms	remaining: 206ms
2:	learn: 0.6765119	total: 52.1ms	remaining: 121ms
3:	learn: 0.6715373	total: 52.5ms	remaining: 78.8ms
4:	learn: 0.6653022	total: 53ms	remaining: 53ms
5:	learn: 0.6591482	total: 53.4ms	remaining: 35.6ms
6:	learn: 0.6543562	total: 53.8ms	remaining: 23ms
7:	learn: 0.6496176	total: 54.2ms	remaining: 13.5ms
8:	learn: 0.6436669	total: 54.5ms	remaining: 6.06ms
9:	learn: 0.6377932	total: 54.8ms	remaining: 0us

1.0

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

I can see, there are some columns containing NaN values.
These can't be be handled by Catboost, so I need to fill those missing values.

(warning "A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead" can be ignored)

In [5]:
X.loc[:,'Cabin'] = X.loc[:,'Cabin'].fillna("")
X.loc[:,'Embarked'] = X.loc[:,'Cabin'].fillna("")
X.loc[:,'Age'] = X.loc[:,'Age'].fillna(X["Age"].mean())

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [6]:
print(X.info())
print(X.isna().any())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     891 non-null    object
 9   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB
None
Pclass      False
Name        False
Sex         False
Age         False
SibSp       False
Parch       False
Ticket      False
Fare        False
Cabin       False
Embarked    False
dtype: bool

I can see, that no columns contain NaN now.

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from catboost import CatBoostClassifier, Pool

# specify categorical features, otherwise everything would have been
# handled as float and fail
categorical_features = ["Pclass", "Name", "Sex", "Ticket", "Cabin", "Embarked"]
train_data = Pool(data=x_train,
                  label=y_train,
                  cat_features=categorical_features)

model = CatBoostClassifier(iterations=10)

model.fit(train_data)
model.score(train_data)

Learning rate set to 0.5
0:	learn: 0.5632709	total: 1.36ms	remaining: 12.2ms
1:	learn: 0.4966648	total: 2.91ms	remaining: 11.7ms
2:	learn: 0.4645858	total: 5.68ms	remaining: 13.3ms
3:	learn: 0.4582455	total: 7.09ms	remaining: 10.6ms
4:	learn: 0.4340593	total: 8.67ms	remaining: 8.67ms
5:	learn: 0.4193965	total: 11ms	remaining: 7.35ms
6:	learn: 0.4114252	total: 12.5ms	remaining: 5.34ms
7:	learn: 0.4104683	total: 13.1ms	remaining: 3.26ms
8:	learn: 0.4054167	total: 14.6ms	remaining: 1.62ms
9:	learn: 0.3941732	total: 16.1ms	remaining: 0us

0.8609550561797753